<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>多功能相册之瀑布流</title>
  <link rel="stylesheet" href="../styles/spinner.css">
  <link rel="stylesheet" href="../styles/modal.css">
  <link rel="stylesheet" href="../styles/gallery-rows.css">
</head>
<body>
<div class="container">
  <div class="gallery"></div>
  <div class="spinner">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
</div>
<script src="../scripts/promise.js"></script>
<script src="../scripts/utils.js"></script>
<script src="../scripts/modal.js"></script>
<script src="../scripts/gallery-rows.js"></script>
<script>
  var Application = function () {
    this.$spinner = document.querySelector('.spinner')
    this.gallery = new GalleryColumns('.gallery')
    this.modal = new Modal()
    this.loading = false
    this.page = 1
    this.load()

    window.addEventListener('scroll', this.scroll.bind(this))
    document.addEventListener('click', this.click.bind(this))
  }

  Application.prototype.click = function (event) {
    var $target = event.target
    if ($target.className == 'gallery-image') {
      this.modal.show($target.dataset.large, $target.clientWidth, $target.clientHeight)
    }
  }

  Application.prototype.scroll = function () {
    var scrollTop = document.body.scrollTop || document.documentElement.scrollTop
    if (scrollTop + innerHeight >= document.body.clientHeight && !this.loading) {
      this.load()
    }
  }

  Application.prototype.loaded = function (photos) {
    this.$spinner.style.display = 'none'
    this.loading = false
    this.gallery.append(photos)
  }

  Application.prototype.load = function () {
    this.$spinner.style.display = 'block'
    this.loading = true
    getPhotos(this.page++).then(this.loaded.bind(this))
  }

  new Application()
</script>
</body>
</html>
