body {
  background-color: #f0f0f0;
  overflow-y: scroll;
}

.gallery {
  margin-top: 16px;
}

.gallery-column {
  display: inline-block;
  vertical-align: top;
  padding: 0 8px;
  box-sizing: border-box;
}

.gallery-image {
  width: 100%;
  display: block;
  cursor: zoom-in;
}

.gallery-image:hover {
  opacity: 0.8;
}

.gallery-item {
  margin-bottom: 16px;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
}

.gallery-photo {
  overflow: hidden;
}

.gallery-photo-info {
  padding: 10px;
  color: #333;
}

.gallery-photo-description {
  margin-top: 5px;
  color: #999;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.gallery-photo-description a {
  color: #999;
}
