<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>多功能相册之瀑布流</title>
  <link rel="stylesheet" href="../styles/spinner.css">
  <link rel="stylesheet" href="../styles/modal.css">
  <link rel="stylesheet" href="../styles/gallery-columns.css">
</head>
<body>
<div class="container">
  <div class="gallery"></div>
  <div class="spinner">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
</div>
<script src="../scripts/promise.js"></script>
<script src="../scripts/utils.js"></script>
<script src="../scripts/modal.js"></script>
<script src="../scripts/app.js"></script>
<script src="../scripts/gallery-columns.js"></script>
<script>
  var columns = 2

  if (innerWidth > 1200) {
    columns = 5
  } else if (innerWidth > 992) {
    columns = 4
  } else if (innerWidth > 768) {
    columns = 3
  }

  new Application(new GalleryColumns('.gallery', columns))
</script>
</body>
</html>
